#app {
  &>ul {
    // TOC
    padding: 16px;
    &>li {
      list-style-type: none;
    }
  }

  &>div {
    // Contents
    .leaf {
      >ol {
        list-style-type: none;
        padding: 0;
      }
    }
  }
}

.poweredby {
  text-align: right;
  margin: 10px;
}
